.div1 {
	background: url(../../img/sandamali/car-banner3.jpg);
	background-color: #cccccc;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 68vh;
}

.div2{
    background: url(../../img/sandamali/road2.jpg)no-repeat;
    background-size: cover;
}

.div3{
    background: url(../../img/sandamali/road1.jpg)no-repeat;
    background-size: cover;
}

.div4{
    background: url(../../img/sandamali/horizon.jpg)no-repeat;
    background-size: cover;
}

.transbox {
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 62%;
	padding: 2px;
	background-color: #ffffff;
	opacity: 0.6;
}

.transbox p {
	margin: 1%;
	color: #000000;
}

.w3-lobster {
	font-family: "Lobster", serif;
	color: white;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #555;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
	background-color: #f1f1f1;
}

.li-border{
	border: 1px solid;
	border-radius: 5px;
	margin-right: 5px;
}

.tborder {
    border-color: #6c757d;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	font-size: 18px;
	background: #fff;
}

.slide-color {
	background: rgba(255, 255, 255, 0);
}