html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    .card{
        //padding: 20px;
        padding: 0;
        margin: 0;
    }
  
    .right{
          display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
          background-color: #E3E1F9;
      
        .badge{
            margin-top: 10px;
        }

        h1{
            font-weight: bolder;
        }
    }

   .left{
       background-color: red;
       background-color: #E3E1F9;

       img{
           padding: 0;
           margin: 0;
       }
   }
}
