<<<<<<< HEAD
=======
$desktop : 1020px;
$phone : 840px;

@mixin tab {
  @media (max-width : #{$desktop}) {
    @content;
  }
}

@mixin phone {
  @media(max-width: #{$phone}){
    @content;
  }
}

>>>>>>> 7306b1edcc8ed3f6a1670740fa6e8769dfcc62a8
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
<<<<<<< HEAD
  background-image: url('back()');
=======
  //background-image: url('back()');
>>>>>>> 7306b1edcc8ed3f6a1670740fa6e8769dfcc62a8
}
h1 {
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-size: 12px;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.back-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  transition: transform 1s ease-in-out;
}
.form-container form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-links {
  margin: 20px 0;

  a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
}
.form-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
}
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: tranform 80ms ease-in;

  .ghost {
    background: transparent;
    background-color: #ffff;
  }
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6 ease-in-out;
}
.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}
.sign-up {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6 ease-in-out;
  z-index: 100;
}
.overlay {
  background: #ff416c;
  background: linear-gradient(to bottom, #cc0066 5%, #ff0000 100%);
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6 ease-in-out;
<<<<<<< HEAD
=======

  // @include phone{
  //   display: none;
  // }
>>>>>>> 7306b1edcc8ed3f6a1670740fa6e8769dfcc62a8
}
.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6 ease-in-out;
}
.right-panel {
  right: 0;
  transform: translateX(0);
}
.left-panel {
  transform: translateX(-20%);
}
.back-container.right-panel-active .sign-in {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
.back-container.back-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}
.back-container.back-container.right-panel-active .sign-up {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  opacity: 1;
  z-index: 5;
}
.back-container.right-panel-active .overlay {
  transform: translateX(50%);
}
.back-container.right-panel-active .left-panel {
  transform: translateX(0);
}
.back{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -5;
  overflow-y: hidden;

<<<<<<< HEAD
=======
  // @include tab{
  //   display: none;
  // }

>>>>>>> 7306b1edcc8ed3f6a1670740fa6e8769dfcc62a8
    img{
      width: 100%;
      height: auto;
      overflow-y: hidden;
    }
    .fade{
      animation-name: fade;
      animation-duration: 2s;
    }

    @keyframes fade{
      from{opacity: 0.5;}
      to{opacity: 1;}
    }
}


