html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f1f1f6;
}

.navbar .profile {
  width: 60px;
  border-radius: 100px;
  border: 2px solid #1b262c;
}

.navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .icons {
  width: 40px;
  margin-left: 15px;
}

.navbar .search {
  border-radius: 20px;
}

.navbar .search-btn {
  border-radius: 20px;
}

.navbar .shadow {
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  border: none;
  border-radius: 20px;
}

.navbar .line-height {
  line-height: 30px;
}

.breadcrumb {
  font-size: 15px;
  margin: 0;
}

.sidebar {
  width: 250px;
  font-weight: bolder;
  color: #0f4c81;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 29px 1px 33px -22px rgba(0, 0, 0, 0.75);
          box-shadow: 29px 1px 33px -22px rgba(0, 0, 0, 0.75);
  background-color: transparent;
  padding-top: 50px;
  line-height: 40px;
  margin: 0;
}

.sidebar a {
  line-height: 40px;
}

@media (max-width: 970px) {
  .sidebar {
    display: none;
  }
}

.sidebar .btn {
  width: 100%;
  margin-left: 30px;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  text-align: left;
}

.sidebar .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: green;
}

.pending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px;
}

@media (max-width: 970px) {
  .pending {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pending .card {
  margin: 10px;
  display: inline-block;
  border: none;
}

.pending .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 970px) {
  .pending .btn-group {
    display: none;
  }
}

.requests {
  border: none;
  width: 100%;
  border-radius: 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1 1;
      -ms-flex-positive: 1 1;
          flex-grow: 1 1;
  -ms-flex: 1 1;
      flex: 1 1;
}

.requests .filter {
  float: right;
}

.requests #day {
  margin-left: 700px;
  position: relative;
  float: right;
  border: none;
  background-color: #142850;
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 970px) {
  .requests {
    width: 100%;
    border-radius: 0px;
  }
}

.welcome {
  margin: 0;
}

.middle {
  padding: 0;
}

@media (max-width: 970px) {
  .middle {
    width: 100%;
    max-width: 100%;
  }
}

.tab {
  display: none;
  margin: 0;
}

@media (max-width: 970px) {
  .tab {
    display: block;
  }
}

@media (max-width: 970px) {
  .tab .btn {
    width: 100%;
    margin: 0;
  }
}

.sales #day {
  background-color: #323232;
}

.sales-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.sales-dashboard .card {
  height: 150px;
  width: 350px;
  margin: 15px;
  border: none;
  color: #FFFF;
  -webkit-box-shadow: 0px 0px 48px 22px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 48px 22px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.sales-dashboard .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
  -webkit-box-shadow: 0px 0px 48px 22px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 48px 22px rgba(0, 0, 0, 0.75);
}

.sales-dashboard .card:hover .pop {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sales-dashboard .card-subtitle {
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: #FFFF;
}

.sales-dashboard .card-subtitle:hover {
  color: black;
}

.graph {
  margin: 10px;
}

.graph .card {
  border: none;
}
/*# sourceMappingURL=dashboard.css.map */