$tab : 970px;

@mixin tab {
    @media (max-width : #{$tab}){
        @content;
    }
}

html{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    
    .profile{
        width: 60px;
        border-radius: 100px;
        border: 2px solid #1b262c;
    }

    li{
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .icons{
        width: 40px;
        margin-left: 15px;

    }
    .search{
        border-radius: 20px;
    }
    .search-btn{
        border-radius: 20px;
        //background-color: red;
    }
    .shadow{
        box-shadow: 0 0 10px #ccc;
        border: none;
        border-radius: 20px;
    }
    .line-height{
        line-height: 30px;
    }
}
.breadcrumb{
    //background-color: transparent;
    font-size: 15px;
    margin: 0;
}
.sidebar{
    //background-color: red;
    width: 250px;
    font-weight: bolder;
    color: #0f4c81;
    //border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 29px 1px 33px -22px rgba(0,0,0,0.75); 
    background-color: transparent;
   //margin-top: 30px;
   // padding: 0 10px;
   //border-radius: 10px;
   margin: 0;

   @include tab{
       display: none;
   }

    .btn{
        width: 100%;
        margin-left: 30px;
        border-radius: 0px;
        background-color: transparent;
        border: none;
        // transform: scale(1);
        // transition: all 0.01s ease-in-out;
        text-align: left;
    }
    .btn:hover{
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
    }
}
.pending{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px;

    @include tab{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card{
       margin: 10px;
        display: inline-block;
        border: none;
    }
    .btn-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include tab{
            display: none;
        }

    }
}
.requests{
    border: none;
    width: 100%;
    border-radius: 0px;
    margin: 0;
   // border-bottom-left-radius: 10px;

    @include tab{
        width: 100%;
        border-radius: 0px;
    }
}
.welcome{
    margin: 0;
}
.middle{
    padding: 0;
    @include tab{
        width: 100%;
        max-width: 100%;
    }
}
.tab{
    display: none;
    margin: 0;

    @include tab{
        // position: relative;
        display: block;
        // width: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
    }

    .btn{
        @include tab{
            width: 100%;
            margin: 0;
        }
    }

}