$tab : 970px;
$headingColor : #00a99d;
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);


@mixin tab {
    @media (max-width : #{$tab}){
        @content;
    }
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f1f1f6;
}
.navbar{


    border-bottom: #8e8e8e solid 1px;;

    
    .profile{
        width: 60px;
        border-radius: 100px;
        border: 2px solid #1b262c;
    }

    li{
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .icons{
        width: 40px;
        margin-left: 15px;

    }
    .search{
        border-radius: 20px;
    }
    .search-btn{
        border-radius: 20px;
        //background-color: red;
    }
    .shadow{
        box-shadow: 0 0 3px rgb(0, 0, 0);
        border: none;
        border-radius: 20px;
    }
    .line-height{
        line-height: 30px;
    }
}
.breadcrumb{
    //background-color: transparent;
    font-size: 15px;
    margin: 0;
}
.style-3 {
    font-family: "Oswald", sans-serif;
    border-bottom: 2px solid black;
  }
  #container {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
  }
  #container h1 {
      font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0.3125em 0;
    //background-color: #111111;
    position: relative;
    display: inline-block;
    padding: 0 10px;
  }  
  .style-3:before {
    content: "";
    // border-top: 3px solid rgb(255, 0, 0);
    // position: absolute;
    // // width: 10px;
    // // top: 35%;
    // // left: -10%;
    // z-index: -999;
    border-bottom: 2px solid black;
  }
  .style-3:after {
    content: "";
    border-bottom: 1px solid rgb(255, 0, 0);
    // position: absolute;
    // width: 300%;
    // bottom: 35%;
    // left: -100%;
    // z-index: -999;
  }
  
.sidebar{
    //background-color: red;
    width: 250px;
    font-weight: bolder;
    color: #0f4c81;
    height: auto;
    //border-right: 1px solid black;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    //box-shadow: 29px 1px 33px -22px rgba(0,0,0,0.75); 
    background-color: transparent;
    //margin-top: 6 0px;
   // padding: 0 10px;
   //border-radius: 10px;
   padding-top: 50px;
   line-height: 40px;
   margin: 0;
   border-right: #8e8e8e solid 1px;;


   a{
       line-height: 40px;
   }

   @include tab{
       display: none;
   }

    .btn{
        width: 100%;
        margin-left: 30px;
        border-radius: 0px;
        background-color: transparent;
        border: none;
        // transform: scale(1);
        // transition: all 0.01s ease-in-out;
        text-align: left;
    }
    .btn:hover{
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
        color: green;
    }
}
.pending{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px;
    width: 100%;

    @include tab{
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }

    .card{
       margin: 10px;
        display: inline-block;
        border: none;
        width: 18rem;

        @include tab{

            img{
                width: 50%;
            }
            width: 100%;
            display: flex;
            flex-direction: row;
            // justify-content: center;
            // align-items: center;
        }
    }
    .btn-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include tab{
            display: none;
        }

    }
}
.requests{
    border: none;
    width: 100%;
    border-radius: 0px;
    //margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    //flex-grow: 1 1;
    //flex: 1 1;
    //justify-content: left;
    //text-align: left;
   // border-bottom-left-radius: 10px;

    .filter{
        //float: right;
        overflow: auto;
    }
    #day{
        //margin-left: 700px;
        position: relative;
        float: right;
        //margin-left: auto;
        border: none;
        background-color: #142850;
        color:whitesmoke;
        padding: 5px;
        border-radius: 5px;
        outline: none;
    }

    @include tab{
        width: 100%;
        border-radius: 0px;
    }
}
.welcome{
    margin: 0;
}
.middle{
    padding: 0;
    @include tab{
        width: 100%;
        max-width: 100%;
    }
}
.tab{
    display: none;
    margin: 0;

    @include tab{
        // position: relative;
        display: block;
        // width: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
    }

    .btn{
        @include tab{
            width: 100%;
            margin: 0;
            margin: 5px 0px;
            //padding: 10px;
        }
    }

}
.sales{
    #day{
        background-color: #323232;
    }
}
.sales-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //margin-left: 10px;
    //padding: 10px;
    //margin:10px;
    width: 100%;

    // @include tab{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }

    .card{
        height: 150px;
        width: 350px;
        margin: 15px;
        border: none;
        color: #FFFF;
        box-shadow: 0px 0px 48px 22px rgba(0,0,0,0.75);
        background-color: rgb(255, 255, 255);
    //     display: flex;
    // flex-direction: row;
    // justify-content: center;
    }

    .card:hover{
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
        color: black;
        box-shadow: 0px 0px 48px 22px rgba(0,0,0,0.75);

        .pop{
            transform: scale(1.01);
            transition: all 0.2s ease-in-out;
            //box-shadow: 0px 0px 48px 22px rgba(0,0,0,0.75);
        }
    }

    .card-subtitle{
        position: relative;
        text-align: center;
        //vertical-align: middle;
        margin-top: 20px;
        //margin-left: 20px;
        font-size: 50px;
        color: #FFFF;
    }

    .card-subtitle:hover{
        // transform: scaleY(1.01);
        // transition: all 0.2s ease-in-out;
        color: black;
    }
}
.graph{
    display: flex;
    // flex-direction: row;
    justify-items: center;
    align-items: center;
    //padding: 10px;
    //margin: 10px 0px;
    //padding: 10px 0px;
    width: 100%;
    //margin: 10px 10px;

    .col{
        //display: flex;
        //justify-content: center;
        //align-items: center;
        width: 100%;
        margin: 0;
       // padding: 0;
    }

    .card{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        border: none;
        margin: 10px 15px;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    }

}
.sales-main{
    .card{
        width: 100%;
        margin: 10px;
        border: none;
    }

   .col{
    display: flex;
    align-items: center;
    justify-content: center;

    .card-body{
        padding: 20;
        margin: 0;
        //width: 300px;
       
        table {
            position: relative;
            border-collapse: collapse;
            width: 98%;
            align-items: center;
            justify-content: center;
            display:flexbox;
            //margin-left: 30px;

            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
              }

              td{
                  //display: flex;
                  //flex-direction: row;
                //   align-items: center;
                //   justify-content: center;
                  img{
                      width: 60px;
                      border-radius: 100px;
                  }
                  h5{
                    //   display: flex;
                    //   flex-direction: row;
                    // align-items: center;
                    // justify-content: center;
                    //text-align: center;
                    font-weight: bold;
                    font-size: 15px;
                  }
              }
          }
          tr:hover {background-color:#f5f5f5;}
       
    }


   }

   i{
       margin-left: 15px;
       //text-align: center;
   }

   .status{
       //color: #21bf73;
       text-align: center;
       font-size: 30px;
       //margin-left: 80px;
   }
}
.right-sidebar{
    @include tab{
        display: none;
    }
    .but{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

   

    button{
        // display: flex;
        // flex-direction: column;;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0px;
        margin-top: 5px;
    }
}

.timeline {
    //margin-top: 20px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;

    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
      }

      .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }

    //   .left {
    //     left: 0;
    //   }

      .right {
        left: -14%;
      }

    //   .left::before {
    //     content: " ";
    //     height: 0;
    //     position: absolute;
    //     top: 22px;
    //     width: 0;
    //     z-index: 1;
    //     right: 30px;
    //     border: medium solid white;
    //     border-width: 10px 0 10px 10px;
    //     border-color: transparent transparent transparent white;
    //   }

      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }

      .right::after {
        left: -16px;
      }

      .content {
        padding: 10px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        width: 240px;
      }

}
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}
  
