html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.back-slide{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    z-index: 0;
    position: absolute;

    .slide{
        width: 100%;
        height: 100vh;

        img{
            width:100%;
            height: auto;
        }
    }

    .login-back{
        width: 200px;
        height: 500px;
        background-color: white;
        position: relative;
        z-index: 1;
    }
}
.fade{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}


